<!DOCTYPE html>
<html layout:decorate="~{_layout-zero}">
    <head>
        <title>[[${contentName}]]</title>
    </head>
    <body>
        <main layout:fragment="main-content">

            <div class="product-container">

                <div class="container">



                    <div class="product-box">


                        <!--
                          - PRODUCT FEATURED
                        -->

                        <div class="product-featured">

                            <h1 class="title">Ups, algo ha ido mal</h1>
                            [[ ${exception} ]]
                            <div>
                                [[ ${exception.message} ]]
                            </div>

                        </div>


                    </div>

                    <div class="sidebar showcase-container sidebar-boxd">
                        <div>
                            <div class="line">
                                <ion-icon name="close-outline"></ion-icon> 
                                <a th:href="@{/}">Salir de aquí</a>
                            </div>
                        </div>

                    </div>




                </div>

            </div>



        </main>
    </body>
</html>