/* -------------------------------- 
Variables
-------------------------------- */
:root {

    /**
     * colors
     */

    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pink: hsl(353, 100%, 78%);
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);
}

/* -------------------------------- 
Estilos primarios
-------------------------------- */
*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
}

* {
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 1.6rem;
    line-height: 2.3rem;
    border-top: solid 10px #5C7E74;
}


.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "header header"
        "left main"
        "footer footer";
    grid-template-columns: 180px 4fr;
    grid-template-rows: 100px 1fr 100px;
}


.container a {
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

.container>div {
    border: 1px dashed #888;
}


.header {
    grid-area: header;
    padding: 30px 30px;
    border-bottom: 1px solid hsl(0, 0%, 93%);
}

.header h1 {
    font-family: Poppins, sans-serif;
    color: var(--eerie-black);
    font-weight: 700;
    font-size: 46px;
}

.header .logo-retro {
    position: absolute;
    top: 0px;
    right: 0;
}

.left {
    grid-area: left;
    padding: 20px 50px;
}

.main {
    grid-area: main;
    padding: 0 40px;
    padding-bottom: 50px;
    min-height: calc(100vh - 160px);
}

.main a {
    color: #39634A;
}

.main h2 {
    font-family: Poppins, sans-serif;
    color: var(--eerie-black);
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin: 20px 0;
}

.main h3 {
    font-family: Poppins, sans-serif;
    color: var(--eerie-black);
    font-weight: 700;
    font-size: 24px;
    margin: 20px 0;
}

p {
    margin: 10px 0;
}

.footer {
    grid-area: footer;
    text-align: center;
    background-color: #5C7E74;
}

.footer a {
    color: white;
    font-weight: bold;
}

.main-menu ul li {
    margin: 24px 0;
}

.main-menu ul li a {
    font-weight: bold;
    color: var(--eerie-black);
    text-transform: uppercase;
}

.main-menu ul li a:hover {
    color: #ff8f9c;
}

.btn {
    background: #ff8f9c;
    border-radius: .25em;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 20px;
}

.btn:hover {
    background: #f76e7e;
}


.article-breadcrumb {
    margin: 8px 0;

}


.article-manufacturer {
    font-weight: bold;
    color: var(--sonic-silver);
}
.article-title {
    border-left: solid 8px #5C7E74;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

.article-image {
    text-align: center;
}

.article-price {
    margin: 30px 0;
    font-size: 36px;
    font-weight: bold;
    color: #d9000c;
}