<!DOCTYPE html>
<html layout:decorate="~{_layout-zero}">
    <head>
        <title>Electrosa: Blog</title>
    </head>
    <body>
        <main layout:fragment="main-content">

            <div class="product-container">
            <div class="container">      
               
                <div class="product-box">


                    <!--
                          - PRODUCT FEATURED
                        -->

                    <div class="product-featured">
                        <div class="breadcrumb">
                            <a href="/pr9">Blog</a> /
                            <a href="/pr9/blog/consejos-renovar-casa">Consejos para renovar tu casa</a>
                        </div>

                        <h1 class="title">CONSEJOS PARA RENOVAR TU CASA</h1>
                        <div class="showcase-wrapper ">

                            <div class="showcase-container">
                                <div class="showcase">

                                    <div class="showcase-banner">

                                        <img th:src="@{/static/assets/images/blog/kam-idris-Ot2iTXgC6fY-unsplash.jpg}" class="blog-banner"
                                            width="300">

                                    </div>

                                    <div class="showcase-content">
                                        <h3>
                                            <a class="blog-title">5 consejos clave para renovar tu casa</a>
                                        </h3>

                                        <p class="blog-meta">
                                            Por <cite>Carol</cite> /
                                            <time datetime="2023-10-01">1 Octubre, 2023</time>
                                        </p>
                                        
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                            Nulla convallis, quam ac luctus condimentum, odio felis varius quam, sed fermentum urna velit non sem. 
                                            Integer vehicula, mauris vel tincidunt rutrum, turpis dolor fermentum mauris, sed consequat ligula odio ut elit.
                                            Vivamus dignissim ex at justo pellentesque, id tincidunt neque vestibulum. 
                                            Nam vitae quam id lorem luctus finibus. Maecenas non nulla id ligula consequat aliquet. 
                                            Nulla non vehicula ante. Sed congue tellus nec risus lacinia, eget bibendum lorem tempor. 
                                            Vivamus blandit elit eget nibh tempus, vitae lacinia urna ultricies.</p>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>


                </div>
 
            </div>
            </div>
            </section>
        </main>
    </body>
</html>
